<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317051307442-cq24laf8qc6jg0pahct3177oqc5n8bu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317051307442-cq24laf8qc6jg0pahct3177oqc5n8bu6</string>
	<key>API_KEY</key>
	<string>AIzaSyCcMXwZtb8xQPLUcBQLoPQE9SGejiKW4wA</string>
	<key>GCM_SENDER_ID</key>
	<string>317051307442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tarweej</string>
	<key>PROJECT_ID</key>
	<string>snap-shop-31f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-shop-31f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317051307442:ios:4963a0a8546a68aa8c10ab</string>
</dict>
</plist>